# Python In-built packages
pip>=9
setuptools>=26
twine
wheel>=0.29
Pillow
laspy
numpy
pandas
plotly
opencv-python
matplotlib
rasterio
geopandas
pyproj
folium
scikit-learn

# Streamlit and Streamlit-related packages
streamlit
streamlit-folium
