# Python In-built packages
pip>=23
setuptools>=26
twine
wheel>=0.29
Pillow
laspy
numpy
pandas
plotly
opencv-python
matplotlib
rasterio
geopandas
pyproj
folium
scikit-learn
rvt-py
ultralytics


# Streamlit and Streamlit-related packages
streamlit
streamlit-folium

GDAL==3.2.2.1